/* Include Foundation */
@import 'node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

body {
    @include grid-row();
    background-color: grey;
}


.top-box {
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    width: 200px;

}

.stock {
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    width: 200px;
}

button {
    padding: 5px;
    background-color: white;
}